*{
    padding: 0px;
    margin: 0px;
}
.body{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
   position: sticky;
    width:100% ;
    top: 0vh;
    padding-bottom: 20px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255,0.9);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.body .song{
    width: 70%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: flex-end;
}
.body .song .img {
    width: 20% ;
    margin-top: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 100px rgb(34, 72, 238,0.4);
}
.body .song .img:hover{
    box-shadow: 10px 10px 100px rgba(0,0,0,0.3);
    transition: 1s;
}
.body .song .img img{
    width: 100%;
    border-radius: 5px;
}
.song .details{
    /* border:1px solid red; */
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    height: 80%;
    padding-left: 50px;
}
.details .head {
   margin-bottom: 5px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.details .user{
    margin-bottom: 20px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}
.details .play{
    /* border: 1px solid black; */
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15%;
}
.details .play button{
    width: 40%;
    height: 100%;
    background-color: crimson;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: monospace;
    /* background-color: #e72c30; */
    color: #fff;
    border-radius: 50px;
}
.details .play i{
    font-size: 20px;
    margin: 0px 10px;
}
.mid-body{
    display: flex;
   padding: 20px 0px;
    flex-wrap: wrap;
    justify-content: center;
    height: 20vh;
}
.mid-body .song{
    margin: 20px 40px;
    width: 10%;
    /* border: 1px solid red; */
}
.mid-body .song img{
    width: 100%;
    border-radius: 10px;
}
.mid-body .song h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.mid-body .song p{
    font-size: 12px;
    margin-top: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0,0,0,0.6);
}
.mid-body .song .img{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.3);
}
.mid-body .song .img:hover{
    box-shadow: 10px 10px 1000px rgba(0,0,0,0.6);
}